<div class="card"></div>
<div class="card card--about">
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="media__content">
      <h3 class="media__heading">Experience</h3>
      <p>
        2+ years
        <br />
        Frontend Development
      </p>
    </div>
  </div>
</div>
<div class="card card--experience">
  <h2 class="card__heading">Frontend Development</h2>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="media__content">
      <h3 class="media__heading">HTML</h3>
      <p>Experienced</p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="media__content">
      <h3 class="media__heading">HTML</h3>
      <p>Experienced</p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="media__content">
      <h3 class="media__heading">HTML</h3>
      <p>Experienced</p>
    </div>
  </div>
</div>
<div class="card card--project">
  <img class="card__image" src="images/project-1.png" alt="" />
  <h2>Project One</h2>
  <div class="card__buttons">
    <button class="btn btn--outline">github</button>
    <button class="btn btn--outline">live demo</button>
  </div>
</div>
<div class="card card--contact">
  <div class="contact__info">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#email"></use>
    </svg>
    <a href="#">Example@gmail.com</a>
  </div>
  <div class="contact__info">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#linkedin"></use>
    </svg>
    <a href="#">LinkedIn</a>
  </div>
  <div class="contact__info">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#facebook"></use>
    </svg>
    <a href="#">Facebook</a>
  </div>
</div>
