<div class="collapsible">
  <header class="collapsible__header">
    <h2>Ismail Samir</h2>
    <svg class="icon">
      <use xlink:href="images/sprite.svg#hamburger"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li class="list__item"><a href="#">About</a></li>
      <li class="list__item"><a href="#">Experience</a></li>
      <li class="list__item"><a href="#">Projects</a></li>
      <li class="list__item"><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
