<svg class="icon">
  <use xlink:href="images/sprite.svg#close"></use></svg
><svg class="icon">
  <use xlink:href="images/sprite.svg#linkedin"></use></svg
><svg class="icon">
  <use xlink:href="images/sprite.svg#facebook"></use></svg
><svg class="icon">
  <use xlink:href="images/sprite.svg#instagram-"></use></svg
><svg class="icon">
  <use xlink:href="images/sprite.svg#email"></use></svg
><svg class="icon">
  <use xlink:href="images/sprite.svg#github"></use></svg
><svg class="icon">
  <use xlink:href="images/sprite.svg#hamburger"></use>
</svg>
